<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script>
        var app = angular.module("my-app", []);



        app.controller('tripfrnt', function($scope, $http) {

            $http.get("https://localhost:44395/api/Trip").then(function(resp) {
                // debugger;

                $scope.Trip = resp.data;

            }, function(err) {
                debugger;



            });

        });



        app.controller('sendAdress', function($scope, $http) {
            $scope.createHotel = function() {
                var data = {
                    Startid: $scope.s1,
                    Endid: $scope.s2
                };
                $http.post("https://localhost:44395/api/Fare/add", data).then(function(resp) {
                    //localStorage.setItem("_token","ABCD");
                    //localStorage.getItem("_token");

                    //logout
                    //localStorage.removeItem("_token");
                    debugger;
                }, function(err) {
                    debugger;
                })
            };
        });
    </script>

</head>

<center>

    <body ng-app="my-app">

        <h1>Admin List</h1>

        <div ng-controller="tripfrnt">

            <table border="1" style="border-collapse:collapse">

                <tr>

                    <th>Session</th>

                    <th>Start</th>


                </tr>

                <tr ng-repeat="h in Trip">
                    <td>{{h.session}}</td>

                    <td>{{h.Start}}</td>

                    <td><a style=" color:green; " href="UpdateHotel.html ">Update</a> || <a style="color:red; " href="DeleteHotel.html ">Delete</a></td>



                </tr>

            </table>
        </div>





        </div>
        <div ng-controller="tripfrnt">





            <select>
                    <option ng-repeat="h in Trip" ng-model="s1" value="h.session">{{h.Start}}</option>
                </select>
            <select>
                    <option ng-repeat="h in Trip" ng-model="s2"value="h.session">{{h.Start}}</option>
                </select>
            <div ng-controller="sendAdress">
                <form ng-submit="createHotel()">
                    <input type="text" ng-model="name"> <br>
                    <input type="text" ng-model="add"><br>
                    <input type="submit">
                </form>
            </div>















    </body>

</center>

</html>