
@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <title>My Home Page</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css">
</head>
<body>
    <main>
        <h2>About This Project</h2>
        <p>Entity Freamework Based Project. Traffic Management System</p>
        <h2>Implementation</h2>
        <ul>
            <li>3-tier Architecture</li>
            <li>MVC</li>
            <li>WebAPI</li>
            <li>No Frontend</li>
        </ul>
    </main>
</body>
</html>
